<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
        <style>
            .done-true {
                text-decoration: line-through;
                color: grey;
            }
        </style>
        <script src="angular/angular.js"></script>
        <script>
            var myApp = angular.module('todoApp', []);
            myApp.controller('TodoListController', function () {
                var todoList = this;
                todoList.todos = [
                    {
                        text: 'learn angular', 
                        done: true
                    },
                    {
                        text: 'learn JavaScript', 
                        done: true
                    },
                    {
                        text: 'learn PHP', 
                        done: true
                    },
                    {
                        text: 'build an angular app', 
                        done: false
                    }];

                todoList.addTodo = function () {
                    todoList.todos.push({
                        text: todoList.todoText,
                        done: false
                    });
                    todoList.todoText = '';
                };

                todoList.remaining = function () {
                    var count = 0;
                    var val = [];
                    angular.forEach(todoList.todos, function(todo) {
                        count += todo.done ? 0 : 1;
                        val += todo.done ? true : false;
                        
                        console.log(count + "\n");
                        console.log(val + "\n");
                    });
                    return count;
                };

                todoList.archive = function () {
                    var oldTodos = todoList.todos;
                    todoList.todos = [];
                    angular.forEach(oldTodos, function (todo) {
                        if (!todo.done)
                            todoList.todos.push(todo);
                    });
                };
            });
        </script>
    </head>
    <body>
        <h2>Todo</h2>
        <div ng-controller="TodoListController as todoList">
          <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
          [ <a href="" ng-click="todoList.archive()">archive</a> ]
          <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
              </label>
            </li>
          </ul>
          <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText"  size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
          </form>
        </div>
    </body>
</html>
