<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1><a href="http://www.smarttutorials.net/invoice-script-php/">{{title}}</a></h1>
        <br>
        <p>
            If you want to run your own invoice website you can use this script. It's secure and 100% open source code. Script allows you to generate unlimited PDF Billing invoices online without any restrictions with great design.
        </p>
        <br>
        <div class="text-center">
            <a href="http://demo.smarttutorials.net/invoice-script-php/" class="btn btn-success" style="padding: 15px 50px;" title="PHP Invoice Script Demo " target="_blank">Smart Invoice Demo</a>
        </div>
        <br>
        <div class="well text-center">
            <p>Admin Login email/ Password : muni@smarttutorials.net/ 123</p>
        </div>
        <div class="well text-center">
            <p>Sales Person Login email/ Password : sales@smarttutorials.net/ 123</p>
        </div>
        <blockquote>
            <h2>Features</h2>
            <ol>
                <li>Table row sorting is added newly, which enables the user to drag and drop table row wherever like to place within the table</li>
                <li>User Access Level is added newly. Admin &amp; Sales Person, where admin has all access to create, edit &amp; edit Invoices, Users, Clients and Products. But Sales person only can create invoice and add Clients, other access are restricted to him.</li>
                <li>Automatic stock management feature is added to version of the script.</li>
                <li>SMTP support is added to this version script, this prevents our email will go the spam folder.</li>
                <li>User can able to add new table rows wherever he/she likes to add.</li>
                <li>Also when user enter last column value in particular row, then new table row is added automatically. This improves working efficiency of the user.</li>
            </ol>
        </blockquote>
        <div class="text-center">
            <a class="btn btn-success btn-demo-success" target="_blank" href="http://www.smarttutorials.net/invoice-script-php/#checkoutp"> Get this Smart Invoice Script Version 2 </a>
        </div>
        <br/>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/M40dF4d6tg0" frameborder="0" allowfullscreen></iframe>
        </div>
        <br/>
        <blockquote>
            <h2>Additional Features:</h2>
            <ol>
                <li>Seamless invoice creation by filling simple from assisted with jQuery Autocomplete.</li>
                <li>Ability to save, edit and delete unlimited invoices.</li>
                <li>Ability to print generated invoice.</li>
                <li>Ability to generate PDF of the invoice.</li>
                <li>Ability to add, edit and delete  multiple client/consignee details. Saved client details will be used available for auto filling to make invoice creation an effortless process.</li>
                <li>Ability to add, edit and delete products. This acts as a simple inventory management system and yes, all the product details added will be available as autocomplete select while generating invoices.</li>
                <li>This invoice system has settings page where users can keep his/her company details that will helpful for easy invoice generation.</li>
                <li>User login system for secure access.</li>
                <li>Simple user registration system.</li>
                <li>Admin side dashboard for viewing list of invoices saved.</li>
                <li>Ability to save unlimited invoice.</li>
                <li>When user enters product name or product Id, the relevant text box shows an auto suggestion of the product name/id using jQuery autocomplete and then automatically fills the selected product id, product name, price and product quantity in their respective fields.</li>
                <li>Ability to add, delete any number table rows to add/delete product in the invoice system.</li>
                <li>Automatic calculation of total Line item price i.e. Number item * unit price Tax calculation.</li>
                <li>Automatic calculation of payment paid and payment due.</li>
                <li>This invoice system has a nice invoice template.</li>
                <li>Also, I kept following list features from the previous <a title="php invoice script tutorial" href="http://www.smarttutorials.net/invoice-system-using-jquery-autocomplete/" target="_blank">php invoice tutorial.</a></li>
            </ol>
        </blockquote>
        <div class="text-center">
            <a class="btn btn-success btn-demo-success" target="_blank" href="http://www.smarttutorials.net/invoice-script-php/#checkoutp"> Get this Smart Invoice Script Version 2 </a>
        </div>
        <br>
        <img alt="Invoice Script PHP" src="http://www.smarttutorials.net/wp-content/uploads/2016/01/Smart-Invoice-Version-2-using-PHP-MySQL-jQuery.jpg" class="img-responsive img-thumbnail">
        <br>
        <br>
        <img alt="Invoice Script PHP" src="http://www.smarttutorials.net/wp-content/uploads/2016/01/Invoice-Script-PHP-1.png" class="img-responsive img-thumbnail">
        <br>
        <br><br><br>
    </div>
</div>