<div>{{data}}</div>
<p>{{value}}</p>
<hr>
<ul>
    <li ng-repeat="todo in todos">
      {{todo.text}} - <em>{{todo.done}}</em>
    </li>
</ul>

<select  ng-model="model.listOfCustomers" ng-init="model.listOfCustomers=listOfCustomers[0].CustomerID" ng-options="customer.CustomerID as customer.CompanyName for customer in listOfCustomers" style="width:350px;"></select>

<hr>
<ol>
    <li ng-repeat="item in listOfCustomers">
        {{item.City}}<br>
        {{item.CompanyName}}<br>
        {{item.CustomerID}}
    </li>
</ol>

   
