<div class="container" ng-controller="ListController">
    <div class="categories" ng-controller="CategoryController">
        <ul class="list-group" ng-repeat="category in categories">  
            <li class="list-group-item" ng-click="sendCategory(category)">
                <a href=''>{{category.name}}</a>
            </li>
        </ul>
    </div>

    <div class="" ng-controller="tabsController">
        <ul class="nav nav-tabs " role="tablist">
            <li role="presentation" ng-click="tab(1)">
                <a aria-controls="home" role="tab" data-toggle="tab">Recent items</a>
            </li>
            <li role="presentation" ng-click="tab(2)">
                <a aria-controls="profile" role="tab" data-toggle="tab">Popular items</a>
            </li>
        </ul>
    </div>

    <div class="wrap">
        <div class="left" ng-controller="ItemController">
            <div class="itemList tab-content">
                <div class="item" ng-repeat="item in items| filter:search | orderBy:sort">	
                    <h3 ng-click="viewDetail(item)">{{item.title}} - {{item.date}}</h3>
                    <p>{{item.description}}</p>
                    <a ng-click="viewDetail(item)">View full item details</a>
                </div>
            </div>
        </div>
    </div>
</div>
