<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input ng-model="$ctrl.query" />
            </p>

            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>

        </div>
        <div class="col-xs-12 col-md-10">
            <!--Body content-->
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones| filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail phone-list-item">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>

                    <p>Phone age {{phone.age}}</p>

                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

<!--

"age": 0, 
"id": "motorola-xoom-with-wi-fi", 
"imageUrl": "img/phones/motorola-xoom-with-wi-fi.0.jpg", 
"name": "Motorola XOOM\u2122 with Wi-Fi", 
"snippet": "The Next, Next Generation\r\n\r\nExperience the future with Motorola XOOM with Wi-Fi, the world's first tablet powered by Android 3.0 (Honeycomb)."

-->