<!DOCTYPE html>
<html>
    <head>
         <title>Angular JS Forms</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
        <script src="node_modules/angular/angular.js"></script>
      
        
        
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h2>Angular JS AJAX</h2>
                
                <div id="App1" ng-app="shoppingCart" ng-controller="ShoppingCartController">
                    <h1>Your order</h1>
                    <table>
                        <tr>
                            <th>product_name</th>
                            <th>currency</th>
                            <th>Delete</th>
                            <th>add</th>
                        </tr>
                        <tr ng-repeat="item in items">
                            <td>{{item.product_name}}</td>
                            <td>{{item.price | currency}}</td>
                            <td><button ng-click="remove($index);">Remove</button></td>
                            <td><button ng-click="addItem($index);">Add</button></td>
                        </tr>
                    </table>
                </div>
                <hr style="background-color: #000;border-bottom: 1px solid #000;">
                
                <div id="App2" ng-app="namesList" ng-controller="NamesController">
                    <h1>List of Names</h1>
                    <div ng-repeat="_name in names">
                        <p>{{_name.username}}</p>
                    </div>
                </div>
                
                <hr style="background-color: #000;border-bottom: 1px solid #000;">
                
                <div id="App3" ng-app = "AJAXfirst" ng-controller = "studentControllerAJAX">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Percentage</th>
                        </tr>

                        <tr ng-repeat = "student in students">
                            <td>{{ student.Name }}</td>
                            <td>{{ student.RollNo }}</td>
                            <td>{{ student.Percentage }}</td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Percentage</th>
                        </tr>

                        <tr ng-repeat = "student in students1">
                            <td>{{ student.Name }}</td>
                            <td>{{ student.RollNo }}</td>
                            <td>{{ student.Percentage }}</td>
                        </tr>
                    </table>
                </div>
                <hr style="background-color: #000;border-bottom: 1px solid #000;">
                <div id="App4" ng-app="AJAXsecond" ng-controller="myCtrl"> 
                    <p>Today's welcome message is:</p>
                    <h1>{{myWelcome}}</h1>
                </div>
                <hr style="background-color: #000;border-bottom: 1px solid #000;">
                
                
                <div id="App5" ng-app="myApplist" ng-controller="customersCtrl"> 

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in myData">
                            {{ x.Name + ', ' + x.Country }}
                        </li>
                    </ul>

                </div>




                
            </div>
        </div>
         <script src="model/testAngularJS.js"></script>
        <script src="controllers/testAngularJS.js"></script>
  
    </body>
</html>
