<html>
    <head>
        <title>AngularJS - Tables 06/04/2016</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
    </head>
    <body>
       
        
        
        
        
        <div class="jumbotron">
            <div class="container">
                 <h2>AngularJS - Tables</h2>
                 <div ng-app ="mainAppTable" ng-controller="studentTable">
                     <table class="table" border="1">
                         <tr>
                             <td>Enter first Name:</td>
                             <td><input type="text" ng-model="table.firstName"></td>
                         </tr>
                         <tr>
                             <td>Enter last Name</td>
                             <td><input type="text" ng-model="table.lastName"></td>
                         </tr>
                          <tr>
                             <td>Enter Subject</td>
                             <td><input type="text" ng-model="table.subjects[0].name"></td>
                         </tr>
                          <tr>
                             <td>Enter Subject</td>
                             <td><input type="text" ng-model="table.subjects[1].name"></td>
                         </tr>
                          <tr>
                             <td>Enter Subject</td>
                             <td><input type="text" ng-model="table.subjects[2].name"></td>
                         </tr>
                          <tr>
                             <td>Enter Subject</td>
                             <td><input type="text" ng-model="table.subjects[3].name"></td>
                         </tr>
                          <tr>
                             <td>Enter Subject</td>
                             <td><input type="text" ng-model="table.subjects[4].name"></td>
                         </tr>
                         <tr>
                             <td>Full Name</td>
                             <td>{{table.fullName()}}</td>
                         </tr>
                         <tr>
                             <td>Student Single subject</td>
                             <td>{{table.Subject()}}</td>
                         </tr>
                         <tr>
                             <td>Subject:</td>
                             <td>
                                 <table>
                                     <tr>
                                         <td>Name </td>
                                         <td>Marks</td>
                                     </tr>
                                     <tr ng-repeat="subject in table.subjects">
                                         <td>{{subject.name}}</td>
                                         <td>{{subject.marks}}</td>
                                     </tr>
                                 </table>
                             </td>
                         </tr>
                     </table>
                    
                </div>


                
            </div>
        </div>
        
        
        <script src="node_modules/angular/jquery.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="model/testAngularJS.js"></script>
        <script src="controllers/testAngularJS.js"></script>
        
        
    </body>
</html>

