<html>
    <head>
        <title>AngularJS Controllers 05/04/2016</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>
            </div>
        </nav>
        
        
        <div class="clearfix"></div>
        
        
        
        
        
        <div class="jumbotron">
            <div class="container">
                 <h2>AngularJS Sample Application</h2>
                 <div ng-app = "mainApp" ng-controller="studentController">
                    <p> Enter your First  Name : <input type="text" ng-model="student.firstName"></p>
                    <p> Enter your Last Name : <input type="text" ng-model="student.lastName"></p>
                    <p>You are entering: {{student.fullName()}}</p>
                </div>


                
            </div>
        </div>
        
        
        <script src="node_modules/angular/angular.js"></script>
        <script src="model/testAngularJS.js"></script>
        <script src="controllers/testAngularJS.js"></script>
    </body>
</html>

