<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <script src="lib/angular.min.js"></script>
        <!--Controller-->
        <div ng-controller="GreetingController"> {{greeting}}</div>
        <script>
//            (function(angular){
//              var myApp = angular.module('myApp',[]);
//                myApp.controller('GreetingController', ['$scope', function($scope) {
//                    $scope.greeting = 'Hola!';
//            }]);  
//            })(window.angular);

        </script>

        <!--Adding Behavior to a scope object-->

        <div ng-controller="DoubleContoller">
            Two times <input ng-model="num"> equals {{double(num)}}
        </div>
        <script>
//            (function(angular){
//                var myApp = angular.module( 'myApp', [] );
//                myApp.controller( 'DoubleContoller' , ['$scope', function($scope){
//                  $scope.double = function(value) {
//                      return value * 2;
//                  } ;
//                }]);
//            })(window.angular);

        </script>

        <hr>
        <!--Simple Spicy Controller Example-->
        <!--        <div ng-app="spicyApp1" ng-controller="SpicyController">
                    <button ng-Click="chiliSpicy()">Chili</button>
                    <button ng-Click="jalapenoSpicy()">Jalapeno</button>
                    <p>The food is &OpenCurlyDoubleQuote; {{spice}} &CloseCurlyDoubleQuote; spicy!</p>
                </div>-->

        <script>
//            (function(angular){
//                'use strict';
//                var myApp = angular.module( 'spicyApp1' , []);
//                    myApp.controller('SpicyController', [ '$scope' , function( $scope ) {
//                        $scope.spice = "very testy";
//                        $scope.chiliSpicy = function() {
//                            $scope.spice = "Chili";
//                        };
//                        $scope.jalapenoSpicy = function() {
//                            $scope.spice = "Jalapeno";
//                        }
//                    }])
//            })(window.angular);
        </script>

        <!--Spicy Arguments Example-->
        <hr>
        <!--        <div ng-app="spicyApp2" ng-controller="SpicyController1">
                    <input type="text" ng-model="customSpice">
                    <button ng-click="spicy('Red chili')">Chili</button>
                    <button ng-click="spicy(customSpice)"> Custom spice</button>
                    <p>The food is &OpenCurlyDoubleQuote; {{spice}} &CloseCurlyDoubleQuote; spicy!</p>
                </div>-->
        <script>
//            (function(angular){
//                'use strict';
//                var myApp = angular.module('spicyApp2', []);
//                    myApp.controller( 'SpicyController1' , ['$scope', function( $scope ){
//                            $scope.customSpice = "So testy";
//                            $scope.spice = "very spicy food";
//                            $scope.spicy = function( spice ){
//                                $scope.spice = spice;
//                            };
//                    }]);
//            })(window.angular);
        </script>

        <!--Scope Inheritance Example-->

        <div ng-app="scopeInheritance">
            <div class="spicy">
                <div ng-controller="MainController">
                    <p>Good {{timeOfDay}}, {{name}}!</p>

                    <div ng-controller="ChildController">
                        <p>Good {{timeOfDay}}, {{name}}!</p>

                        <div ng-controller="GrandChildController">
                            <p>Good {{timeOfDay}}, {{name}}!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function (angular) {
                'use strict';
                var myApp = angular.module('scopeInheritance', []);
                myApp.controller('MainController', ['$scope', function ($scope) {
                        $scope.timeOfDay = 'morning';
                        $scope.name = 'Nikki';
                    }]);
                myApp.controller('ChildController', ['$scope', function ($scope) {
                        $scope.timeOfDay = 'AfterNoon';
                        $scope.name = 'Mattie';
                    }]);
                myApp.controller('GrandChildController', ['$scope', function ($scope) {
                        $scope.timeOfDay = 'evening';
                        $scope.name = 'Gingerbread Baby';
                    }]);
            })(window.angular);
        </script>













        <!--==================Services========================-->

        <div id="simple" ng-app="myServiceModule" ng-controller="MyController">
            <p>Let's try this simple notify service, injected into </p>
            <input type="text" ng-init="message = 'test data'" ng-model="message">
            <button ng-click="callNotify(message);">NOTIFY</button>  
            <p>yor have to click 3 times to see an alert</p>
        </div>
        <script>
            it('should test service', function () {
                expect(element(by.id('simple')).element(by.model('message')).getAttribute('value')).toEqual('test data');
            });
        </script>

    </body>
</html>
