<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        

        <div data-ng-app="myApp" ng-controller="myCtrl">
            <p> First Name: <input type="text" ng-model="firstName"> </p>
            <p ng-bind="firstName"> First Name </p>
            <p>Last Name: <input type="text" ng-model="lastName"> </p>
            <p ng-bind="lastName">Last Name: </p>

            <br>
            <br>
            <p>Your name {{ firstName + " " + lastName}} </p>
        </div> 
          <script src="lib/angular.min.js"></script>
        <script>
            var app = angular.module( 'myApp', [] );
                app.controller('myCtrl', function($scope) {
                    $scope.firstName = "Wakidur";
                    $scope.lastName = "Rahman"
                });
        </script>
    </body>
</html>
