<!--  <div class="branding">
<a ng-href="#/">angularJS</a></div>
  <ul>
    <li>
        <a ng-href="#/login">Login</a>
    </li>
    <li>
        <a ng-href="#/register">Register</a>
    </li>
  </ul>-->

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a data-ng-href="#/signup">Sign Up</a></li>
            <li><a data-ng-href="#/login">Log in</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wakidur <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a data-ng-href="#/dashboard">Dashboard</a></li>
                <li><a data-ng-href="#/account_setting">Account Setting</a></li>
                <li><a data-ng-href="#/logout">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

