/*Roboto Regular font variance dectaration*/
@font-face {
  font-family: "robotoregular";
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
      url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), 
      url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

body {
    font-family: "robotoregular", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.topheadmain{
    padding-top: 20px;
}
.leftAfter {
    padding-left: 35px;
    padding-bottom: 15px;
    position: relative;
}
.leftAfter:before{
    content: "";
    width: 30px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    
}
.leftAfter.gray:before{
    background-color: #344559;
}.leftAfter.perple:before{
    background-color: red;
}
.headsubtitle{
    font-size: 24px;
    color: #000;
    line-height: 26px;
    padding-bottom: 15px;
}
.topheading{
    font-size: 26px;
    color: #050505;
    line-height: 28px;
    padding-bottom: 20px;
}
.topinformation{
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #4a4a4a;
}
.infotop {
    margin-bottom: 0px;
    font-size: 14px;
    color: #f1676e;
}
.topaddress p{
    color: #2d2d2d;
    font-size: 14px;
    
}.topaddress p i{
    color: #f04335;
}

.titleinfo {
    margin: 0px;
    padding-bottom: 0px;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
}
.subtitleinfo{
    line-height: 24px;
    margin: 0px;
    padding-bottom: 15px;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
}
.infoDetail{
    font-size: 14px;
    color: #5e5e5e;
}
