body {
    width: 100%;
    height: 100%;
    background: #3b7aa3 url(img/blue-circles-WA2.png);
    background-position: center top;
    background-attachment: scroll;
    background-repeat: no-repeat;

  padding-top: 70px;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-default {
    background-color: rgba(20, 92, 137, 0.5);
    border-color: #3b7aa3;
}
.navbar-default .navbar-nav > li > a {
    color: #ececec;
}
.navbar-default .navbar-brand {
    color: #000;
}
.jumbotron {
    background-color: rgba(224, 224, 224, 0.3);
}

.thumbnail {
    display: block;
    padding: 1px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.70);
}


/*sing in form */


.form-signin {
    max-width: 350px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(109, 170, 208, 0.70);
    border: 4px solid #70add3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.90);
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  
}

#dv1{
    border:1px solid #DBDCE9; margin-left:auto;
    margin-right:auto;width:220px;
    border-radius:7px;padding: 25px;
}

.info{
    border: 1px solid;margin: 10px 0px;
    padding:10px;color: #00529B;
    background-color: #BDE5F8;list-style: none;
}
.err{
    border: 1px solid;  margin: 10px 0px;
    padding:10px;  color: #D8000C;
    background-color: #FFBABA;   list-style: none;
}


/*For item deteils page*/


h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/* Animate `ngRepeat` in `phoneList` component */
.phone-list-item.ng-enter,
.phone-list-item.ng-leave,
.phone-list-item.ng-move {
  overflow: hidden;
  transition: 0.5s linear all;
}

.phone-list-item.ng-enter,
.phone-list-item.ng-leave.ng-leave-active,
.phone-list-item.ng-move {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.phone-list-item.ng-enter.ng-enter-active,
.phone-list-item.ng-leave,
.phone-list-item.ng-move.ng-move-active {
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}

/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 20px;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Older browsers might need vendor-prefixes for keyframes and animation! */








