<style type="text/css">
	div.spicy div {
	  padding: 10px;
	  border: solid 2px blue;
	}
</style>
<script src="node_modules/angular/angular.js"></script>
 <script>
	var myApp = angular.module('myApp', []);
	myApp.controller( "GreetingController", ['$scope', function($scope){
		$scope.greeting = "Hole!";
		$scope.world = "Good morning Bangladesh"
	}]);
	myApp.controller('DoubleController',['$scope', function($scope){
		$scope.num = 0;
		$scope.double = function(value) {
			return value * 2;
		};
	}]);
	myApp.controller('SpicyController',['$scope',function($scope){
		$scope.spice = "Very";
		$scope.chiliSpicy = function() {
			$scope.spice = "Chili";
		};
		$scope.jalapenoSpicy = function() {
			$scope.spice = "jalapeno`";
		};
	}]);
	myApp.controller('ArgumentsspicyController', ['$scope',function($scope){
		$scope.customSpice = "Wasabi";
		$scope.spice = "vary";
		$scope.a = "Welcome to Bangladesh";
		$scope.b = "Welcome to Wakidur!";


		$scope.spicy = function(spice) {
			$scope.spice = spice;
		};
		 $scope.hello = function(a) {
		 	$scope.a = a;
		 }
	}]);
	// Scope Inheritance Example
	myApp.controller('Maincontroller',['$scope',function($scope){
		$scope.timeOfDay =  new Date();
		//$scope.timeOfDay = "Morning";
		$scope.name = "Nikki";
	}]);
	myApp.controller('ChildController',['$scope',function($scope){
		$scope.name = "Mattie";
	}]);
	myApp.controller('GrandChildController',['$scope',function($scope){
		
		$scope.timeOfDay = 'evening';
        $scope.name = 'Gingerbread Baby';
	}]);
 </script>
<div  ng-app="myApp">
	<div ng-controller="GreetingController">
		{{greeting + " " +world}}
	</div> 
	<hr>
	<div ng-controller="DoubleController">
		Two times <input ng-model="num"> equals {{double(num)}}
	</div>
    <hr>
    <div ng-controller=SpicyController>
    	<button ng-click=chiliSpicy()>Chili</button>
    	<button ng-click=jalapenoSpicy()>jalapeno</button>
    	<p>The food is " {{spice}} "spics!</p>
    </div>
    <hr>
    <div ng-controller=ArgumentsspicyController>
        <input ng-model="spice">
        <input ng-model="a">
    	<button ng-click= "spicy( 'chili' )">Chili</button>
    	<button ng-click="spicy( customSpice )">jalapeno</button>
    	<button ng-click="hello( b )">jalapeno</button>
    	<p>The food is " {{spice}} " spics!</p>
    	<p>The food is " {{a}} " spics!</p>
    </div>
    <hr>
    <div class="spicy">
    	<div ng-controller=Maincontroller>
    		<p> Good {{timeOfDay}} , {{name}}</p>
    		<div ng-controller=ChildController>
    			<p>Good {{timeOfDay}}, {{name}}</p>
    			<div ng-controller=GrandChildController>
    				<p>Good {{timeOfDay}}, {{name}}</p>
    			</div>
    		</div>
    	</div>
	</div>
	<hr>

<script>
var v = "i love you AngularJS";
console.log(v);
</script>
<!-- <div ng-app="myApp" ng-controller="GreetingController">
  {{ greeting }}
</div> -->
