<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>AngularJS Directives</title>
        <link rel="icon" href="images/favicon.ico">
        <!-- Bootstrap -->
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


        <!--    it is recommended that you load the AngularJS library either in the <head> or at the start of the <body>.
            This is because calls to angular.module can only be compiled after the library has been loaded.-->
        <script src="node_modules/angular/angular.js"></script>




        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-xs-4">
                    <h2>Data Binding</h2>
                    <!--                  <form class="" action="" ng-app="" ng-init="q = 1; p = 3">
                                          <div class="form-group">
                                              <input class="form-control" type="number" ng-model="q">
                                          </div>
                                          <div class="form-group">
                                              <input class="form-control" type="number" ng-model="p">
                                          </div>
                                          <div class="form-group">
                                              <label class="form-control">{{q * p}}</label>
                                          </div>
                                      </form>-->

                </div> <!--column-->
                <div class="col-xs-4">
                    <h2>Repeating HTML Elements</h2>
                    <!--                  <div ng-app="" ng-init="names=['Jani','Wakidur','Sazzad']">
                                          <ul class="list-group">
                                              <li class="list-group-item" ng-repeat="x in names">
                                                  {{x}}
                                              </li>
                                          </ul>
                                      </div>-->


                </div> <!--column-->
                <div class="col-xs-4">
                    <h2>Repeating HTML Elements</h2>

<!--                    <div ng-app="" ng-init="names=[
                        {name:'Jani',country :'Norway'},
                        {name:'Wakidur', country :'Bangladesh'},
                        {name:'Sazzad', country :'Denmark'}]">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="x in names">
                                {{x.name + ', ' + x.country}}
                            </li>
                        </ul>
                    </div>-->

                </div> <!--column-->
            </div><!--row -->


            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Create New Directives</h2>
                    <p>New directives are created by using the .directive function.</p>
                    <p>When naming a directive, you must use a camel case name, w3TestDirective, but when invoking it, you must use - separated name, w3-test-directive:</p>
                    <p>You can invoke a directive by using:</p>
                    <ul>
                        <li>Element name :</li>
                        <li>Attribute:</li>
                        <li>Class :  </li>
                        <li>Comment : </li>
                    </ul>
                    <p>Restrictions</p>
                    <ul>
                        <li>E for Element name:</li>
                        <li>A for Attribute</li>
                        <li>C for Class  </li>
                        <li>M for Comment</li>
                        <li>By default the value is EA, meaning that both Element names and 
                            attribute names can invoke the directive.</li>
                    </ul>
                    
                    
                    <p>example: Element name</p>
<!--                        <div ng-app="elementApp">
                            <span>Element name</span>
                            <w3-test-directive></w3-test-directive>
                            
                            <span>Attribute</span>
                            <div w3-test-directive></div>
                            
                             <span>Class</span>
                           <w3-test-directive></w3-test-directive>
                            
                            <span>Comment</span>
                            <w3-test-directive></w3-test-directive>
                            
                        </div>-->
                        <div ng-app="restrictionsApp">
<!--                            <span>Element name</span>
                            <w3-test-directive></w3-test-directive>-->
                            
<!--                            <span>Attribute</span>
                            <div w3-test-directive></div>-->
                            
<!--                             <span>Class</span>
                           <w3-test-directive></w3-test-directive> -->
                            
                            <span>Comment</span>
                            <restriction-directive></restriction-directive>
                            
                        </div>
                    
                </div>
            </div>
        </div><!--container-->
























        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--Modules and Controllers in Files-->
        <script src="modules/module.js"></script>
        <script src="controllers/controller.js"></script>

    </body>
</html>
