<style type="text/css">
	.show-scope-demo.ng-scope,
	.show-scope-demo .ng-scope  {
	  border: 1px solid red;
	  margin: 3px;
	}
</style>
<script src="node_modules/angular/angular.js"></script>
<script>
	var scopeExample = angular.module('scopeExample',[]);
		scopeExample.controller('MyController',['$scope', function($scope){
			$scope.username = "World";
			$scope.sayHello = function() {
				$scope.greeting = "hello" +" "+  $scope.username + '!';
			};
		}]);

		scopeExample.controller('GreetController',['$scope','$rootScope', function($scope, $rootScope){
			$scope.name = "World";
			$rootScope.department = "AngularJS";
		}]);

		scopeExample.controller("ListController",['$scope', function($scope){
			$scope.names = ['Facebook', "Google", 'AngularJS',"Yahoo"];
		}])

</script>
<div ng-app="scopeExample">
<div  ng-controller="MyController">
   Your Name: 
   <input type="text" ng-model=username>
   <button ng-click=sayHello()>Greet</button>
	<hr>
	<p>Hello{{greeting}}</p>
</div>

<hr>

<div class="show-scope-demo">
	<div ng-controller="GreetController">
		<p>Greet controller name: {{name}}</p>
	</div>
	<div ng-controller="ListController">
		<ol>
			<li ng-repeat="name in names">
				{{name}} from {{department}}
			</li>
		</ol>
	</div>
</div>


</div>