<script src="node_modules/angular/angular.js"></script>
<script>
	var myApp = angular.module('myApp',[]);
		myApp.controller('MyController', function($scope) {
  			$scope.spices = [
  				{"name":"pasilla", "spiciness":"mild"},
                {"name":"jalapeno", "spiciness":"hot hot hot!"},
                {"name":"habanero", "spiciness":"LAVA HOT!!"}];
  $scope.spice = "habanero";
});

		
</script>
<div ng-app="myApp" ng-controller="MyController">
     <ul ng-repeat="y in spices">
    	<li>
    		{{y.name + " " + y.spiciness}}
    	</li>
    </ul> 
    <table border="1">
    <tr ng-repeat="x in spices">
        <td>{{x.name}}</td>
        <td>{{x.spiciness}}</td> 
    </tr>
</table>
    <p>Single value {{spice}}</p>
	
</div>